body{
    /*background-color: pink;*/
    
}   
strong{
    background-color: green;
}
mark{
    background-color: red;
}
em{
    background-color: palevioletred;
}
html{
    /*font-family: sans-serif;*/
    font-family: 'Merriweather', serif;
    background-image: url('../images/oriental-tiles.png');
    background-attachment: fixed;
    background-color:rgba(0, 13, 97, 0.79);
    color: #ffffff;
}
h2{
    color: #ffffff;
    background-color:rgba(218, 27, 52, 0.88);
    text-decoration: underline;
    font-weight: initial;
}
h1{
    text-align: center;
    font-style: italic;
    color: #0D0F5B;
    background-color: rgba(255, 208, 0, 0.69);
}
p{
    text-align: justify;
    font-size: 14px;
    line-height: 23px;
}
.midiassociais a{
    margin-left: 10px;
}
.midiassociais{
    margin-top: 10px;
}
a{
    color: rgba(255, 208, 0, 0.89);
    text-decoration: none;
}
button a{
    color: #0A0B4D;
    text-decoration: none;
}
.destaque{
    background-color: crimson;
    color: gold;
    font-size:22px;
}
input:focus{
    background-color: red;
}
#comentarios{
    resize: vertical;
}
a:hover{
    background-color: gold;
}
#imagens img:hover{
    border-radius: 20px;
    filter: none;

}
#imagens img{
    filter: blur(5px);
}